In [70]:
import pandas as pd
import os
import numpy as np

In [71]:
playerstats = pd.read_csv("playstats.csv")
playerstats.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,21,MIA,25,2,15.0,2.5,4.3,...,0.540,1.4,2.7,4.1,0.7,0.4,0.6,1.0,1.9,6.4
1,2,Jaylen Adams,PG,24,MIL,5,0,3.2,0.2,1.6,...,NaN,0.0,0.6,0.6,0.4,0.0,0.0,0.0,0.2,0.4
2,3,Steven Adams,C,27,NOP,23,23,29.4,3.6,6.0,...,0.473,4.3,5.0,9.3,2.4,1.0,0.6,1.8,2.0,8.3
3,4,Bam Adebayo,C,23,MIA,23,23,33.3,7.1,12.5,...,0.850,1.9,7.4,9.3,5.2,1.0,1.0,3.1,2.6,19.7
4,5,LaMarcus Aldridge,C,35,SAS,18,18,26.7,5.9,12.5,...,0.762,0.8,3.5,4.3,1.9,0.4,0.9,0.9,1.5,14.1

In [78]:
#Cleaning Data
#Selecting only wanted columns
df = playerstats.filter(["Player","Pos", "MP","3P", "2P", "2PA",'FT','FTA','ORB','DRB','AST','STL','BLK','TOV','PF','PTS'])
df.head()

,Player,Pos,MP,3P,2P,2PA,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,PF,15.0,0.0,2.5,4.3,1.4,2.5,1.4,2.7,0.7,0.4,0.6,1.0,1.9,6.4
1,Jaylen Adams,PG,3.2,0.0,0.2,1.2,0.0,0.0,0.0,0.6,0.4,0.0,0.0,0.0,0.2,0.4
2,Steven Adams,C,29.4,0.0,3.6,6.0,1.1,2.4,4.3,5.0,2.4,1.0,0.6,1.8,2.0,8.3
3,Bam Adebayo,C,33.3,0.1,7.0,12.3,5.4,6.4,1.9,7.4,5.2,1.0,1.0,3.1,2.6,19.7
4,LaMarcus Aldridge,C,26.7,1.3,4.6,8.8,0.9,1.2,0.8,3.5,1.9,0.4,0.9,0.9,1.5,14.1

In [79]:
df.dtypes

Player     object
Pos        object
MP        float64
3P        float64
2P        float64
2PA       float64
FT        float64
FTA       float64
ORB       float64
DRB       float64
AST       float64
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
dtype: object

In [80]:
#Multplying columns by fantasy point values
df["3P"] = .5 * df["3P"]
df["2P"] = .5 * df["2P"]
df["2PA"] = (-0.225) * df["2PA"]
df["FT"] = .5 * df["FT"]
df["FTA"] = (-0.4) * df["FTA"]
df["ORB"] = 2.5 * df["ORB"]
df["DRB"] = 2 * df["DRB"]
df["AST"] = 2 * df["AST"]
df["STL"] = 3 * df["STL"]
df["BLK"] = 3 * df["BLK"]
df["TOV"] = (-2.5) * df["TOV"]
df["PF"] = (-1.5) * df["PF"]
df["PTS"] = 1 * df["PTS"]

In [81]:
column_list = list(df)
print(column_list)

['Player', 'Pos', 'MP', '3P', '2P', '2PA', 'FT', 'FTA', 'ORB', 'DRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS']

In [82]:
column_list.remove("Player")
column_list.remove("Pos")
column_list.remove("MP")
print(column_list)

['3P', '2P', '2PA', 'FT', 'FTA', 'ORB', 'DRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS']

In [83]:
df["Fantasy Points"] = df[column_list].sum(axis=1)
df.head()

,Player,Pos,MP,3P,2P,2PA,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,PTS,Fantasy Points
0,Precious Achiuwa,PF,15.0,0.00,1.25,-0.9675,0.70,-1.00,3.50,5.4,1.4,1.2,1.8,-2.50,-2.85,6.4,14.3325
1,Jaylen Adams,PG,3.2,0.00,0.10,-0.2700,0.00,-0.00,0.00,1.2,0.8,0.0,0.0,-0.00,-0.30,0.4,1.9300
2,Steven Adams,C,29.4,0.00,1.80,-1.3500,0.55,-0.96,10.75,10.0,4.8,3.0,1.8,-4.50,-3.00,8.3,31.1900
3,Bam Adebayo,C,33.3,0.05,3.50,-2.7675,2.70,-2.56,4.75,14.8,10.4,3.0,3.0,-7.75,-3.90,19.7,44.9225
4,LaMarcus Aldridge,C,26.7,0.65,2.30,-1.9800,0.45,-0.48,2.00,7.0,3.8,1.2,2.7,-2.25,-2.25,14.1,27.2400

In [85]:
df.to_csv(r'C:\Users\Cody\UCBE\final\fantasy.csv', index=False)